<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113502388440-och90a1d219cgnurr3322v1fehknb4vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113502388440-och90a1d219cgnurr3322v1fehknb4vd</string>
	<key>API_KEY</key>
	<string>AIzaSyBxShHyhK8-JmhOzbMWlsqCfbPmQNbA0bA</string>
	<key>GCM_SENDER_ID</key>
	<string>113502388440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackon.BookMySlot</string>
	<key>PROJECT_ID</key>
	<string>book-my-slot-fb5bf</string>
	<key>STORAGE_BUCKET</key>
	<string>book-my-slot-fb5bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113502388440:ios:0f613ceb28350cc31757ad</string>
	<key>DATABASE_URL</key>
	<string>https://book-my-slot-fb5bf.firebaseio.com</string>
</dict>
</plist>